@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 820px) {
    .menuicons {
        display: none !important;
    }
}

@media (max-width: 820px) {
    .mainMenu {
        display: flex;
        flex-direction: column;
        height: 32vh;
        transform: ;
        justify-content: space-between;
        padding: 40px 50px 50px 40px;
    }

    .mainMenu li {
        margin-left: 0;
    }

    .menu {
        background-color: #060b26;
        width: 250px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 850ms;
    }

    .menu.active {
        right: 0;
        transition: 350ms;
    }
}